.ToDoItem {
  font-family: 'Helvetica Neue',
                Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
}

.ToDoItem-complete p{
  text-decoration: line-through;
  opacity: .3;
}

.ToDoList-status {
  border: 2px solid black;
  text-transform: capitalize
}

.status-active {
  background-color: green;
}